/AlienMuseumGameWindows/AlienMuseumGameWindows/.#Program.cs
/AlienMuseumGameWindows/AlienMuseumGameWindows/#Program.cs#
/AlienMuseumGameWindows/AlienMuseumGameWindows.userprefs
/AlienMuseumGame/alienmuseumgame.in
/AlienMuseumGame/bin/Debug/AlienMuseumGame.exe
/AlienMuseumGame/bin/Debug/AlienMuseumGame.exe.mdb
/AlienMuseumGame/bin/Debug/Lidgren.Network.dll
/AlienMuseumGame/bin/Debug/Lidgren.Network.dll.mdb
/AlienMuseumGame/bin/Debug/MonoGame.Framework.dll
/AlienMuseumGame/bin/Debug/MonoGame.Framework.dll.mdb
/AlienMuseumGameWindows/AlienMuseumGameWindows/alienmuseumgamewindows.in
/AlienMuseumGameWindows/AlienMuseumGameWindows/bin/Debug/AlienMuseumGameWindows.exe
/AlienMuseumGameWindows/AlienMuseumGameWindows/bin/Debug/AlienMuseumGameWindows.exe.mdb
/AlienMuseumGameWindows/AlienMuseumGameWindows/bin/Debug/Lidgren.Network.dll
/AlienMuseumGameWindows/AlienMuseumGameWindows/bin/Debug/Lidgren.Network.dll.mdb
/AlienMuseumGameWindows/AlienMuseumGameWindows/bin/Debug/MonoGame.Framework.dll
/AlienMuseumGameWindows/AlienMuseumGameWindows/bin/Debug/MonoGame.Framework.dll.mdb
/AlienMuseumGameWindows/AlienMuseumGameWindows/bin/Debug/Tao.Sdl.dll
