/AlienMuseumGameWindows/AlienMuseumGameWindows/.#Program.cs
/AlienMuseumGameWindows/AlienMuseumGameWindows/#Program.cs#
/AlienMuseumGameWindows/AlienMuseumGameWindows.userprefs
/AlienMuseumGame/alienmuseumgame.in
/AlienMuseumGame/bin/Debug/AlienMuseumGame.exe
/AlienMuseumGame/bin/Debug/AlienMuseumGame.exe.mdb
/AlienMuseumGame/bin/Debug/Lidgren.Network.dll
/AlienMuseumGame/bin/Debug/Lidgren.Network.dll.mdb
/AlienMuseumGame/bin/Debug/MonoGame.Framework.dll
/AlienMuseumGame/bin/Debug/MonoGame.Framework.dll.mdb
/AlienMuseumGameWindows/AlienMuseumGameWindows/alienmuseumgamewindows.in
/AlienMuseumGameWindows/AlienMuseumGameWindows/bin/Debug/AlienMuseumGameWindows.exe
/AlienMuseumGameWindows/AlienMuseumGameWindows/bin/Debug/AlienMuseumGameWindows.exe.mdb
/AlienMuseumGameWindows/AlienMuseumGameWindows/bin/Debug/Lidgren.Network.dll
/AlienMuseumGameWindows/AlienMuseumGameWindows/bin/Debug/Lidgren.Network.dll.mdb
/AlienMuseumGameWindows/AlienMuseumGameWindows/bin/Debug/MonoGame.Framework.dll
/AlienMuseumGameWindows/AlienMuseumGameWindows/bin/Debug/MonoGame.Framework.dll.mdb
/AlienMuseumGameWindows/AlienMuseumGameWindows/bin/Debug/Tao.Sdl.dll
/AlienMuseumGame/bin/Debug/Content/NorthSlug.png
/AlienMuseumGame/bin/Debug/Game1.cs
/AlienMuseumGame/bin/Debug/ICSharpCode.SharpZipLib.dll
/AlienMuseumWindows/AlienMuseumWindows.userprefs
/AlienMuseumWindows/AlienMuseumWindows/#Game1.cs#
/AlienMuseumWindows/AlienMuseumWindows/Entity/Entity.cs~
/AlienMuseumWindows/AlienMuseumWindows/Entity/Level.cs~
/AlienMuseumWindows/AlienMuseumWindows/Entity/Player.cs~
/AlienMuseumWindows/AlienMuseumWindows/GameState/#GameState.cs#
/AlienMuseumWindows/AlienMuseumWindows/GameState/GameState.cs
/AlienMuseumWindows/AlienMuseumWindows/Graphics/Camera.cs~
/AlienMuseumWindows/AlienMuseumWindows/Graphics/GraphicsObject.cs~
/AlienMuseumWindows/AlienMuseumWindows/States/PlayState.cs~
/AlienMuseumWindows/AlienMuseumWindows/TiledMax/bin/Debug/TiledMax.dll
/AlienMuseumWindows/AlienMuseumWindows/TiledMax/bin/Debug/TiledMax.pdb
/AlienMuseumWindows/AlienMuseumWindows/TiledMax/bin/Debug/zlib.net.dll
/AlienMuseumWindows/AlienMuseumWindows/TiledMax/bin/Release/TiledMax.dll
/AlienMuseumWindows/AlienMuseumWindows/TiledMax/bin/Release/TiledMax.pdb
/AlienMuseumWindows/AlienMuseumWindows/TiledMax/bin/Release/zlib.net.dll
/AlienMuseumWindows/AlienMuseumWindows/TiledMax/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/AlienMuseumWindows/AlienMuseumWindows/TiledMax/obj/Debug/TiledMax.csproj.FileListAbsolute.txt
/AlienMuseumWindows/AlienMuseumWindows/TiledMax/obj/Debug/TiledMax.dll
/AlienMuseumWindows/AlienMuseumWindows/TiledMax/obj/Debug/TiledMax.pdb
/AlienMuseumWindows/AlienMuseumWindows/TiledMax/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/AlienMuseumWindows/AlienMuseumWindows/TiledMax/obj/Release/ResolveAssemblyReference.cache
/AlienMuseumWindows/AlienMuseumWindows/TiledMax/obj/Release/TiledMax.csproj.FileListAbsolute.txt
/AlienMuseumWindows/AlienMuseumWindows/TiledMax/obj/Release/TiledMax.dll
/AlienMuseumWindows/AlienMuseumWindows/TiledMax/obj/Release/TiledMax.pdb
/AlienMuseumWindows/AlienMuseumWindows/alex@alexArch.25745:1400951076
/AlienMuseumWindows/AlienMuseumWindows/bin/WindowsGL/Debug/AlienMuseumWindows.exe
/AlienMuseumWindows/AlienMuseumWindows/bin/WindowsGL/Debug/AlienMuseumWindows.exe.mdb
/AlienMuseumWindows/AlienMuseumWindows/obj/x86/Debug/.NETFramework,Version=v4.0.AssemblyAttribute.cs
/AlienMuseumWindows/AlienMuseumWindows/obj/x86/Debug/AlienMuseumWindows.csproj.FilesWrittenAbsolute.txt
/AlienMuseumWindows/AlienMuseumWindows/obj/x86/Debug/AlienMuseumWindows.exe
/AlienMuseumWindows/AlienMuseumWindows/obj/x86/Debug/AlienMuseumWindows.exe.mdb
